// @import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'fontawesome-all.min.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i');

$background-color: #333;
$text-primary: #93cb52;
$text-primary-dark: #7ab436;
$text-light: #fff;

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.4;
    font-weight: 300;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    margin: 0.75rem 0;
}

/* Utility Classes */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.py-1 {
    padding: 1.5rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.py-3 {
    padding: 3rem 0;
}

.p-1 {
    padding: 1.5rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.text-primary {
    color: $text-primary;
}

.text-center {
    text-align: center;
}

.bg-dark {
    background: #333;
    color: #fff;
}


.bg-primary {
    background: #93cb52;
    color: #fff;
  }

.btn {
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    // background: $text-primary;
    padding: 0.8rem 3rem;
    border: #fff 1px solid;
    border-radius: 30px;
    margin-top: 1.5rem;
}


.btn:hover {
    // background: $text-primary-dark;
    color: #7ab436;
    border: #7ab436 1px solid;
}

.btn-light {
    text-transform: uppercase;
    display: inline-block;
    background: #fff;
    color: #000;
    // background: $text-primary;
    padding: 0.8rem 2rem;
    border: #000 1px solid;
    border-radius: 30px;
    margin-top: 1.5rem;
}
.btn-light:hover,
input:hover,
textarea:hover {
    color: #7ab436;
    border: #7ab436 1px solid;

}

.list {
    margin: 0.5rem 0;
    list-style: none;
}

.list li {
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
}

.banner  {
    display: flex;
    background: $background-color;
    color: $text-light;
    height: 100vh;
    align-items: center;
    text-align: left;
    // flex-wrap: wrap;
    
    .image {
        flex-grow: 1;
        img {
            height: 100vh;
            // min-width: 100%;
            max-width: 50vw;
            object-fit: cover;
            vertical-align: bottom;
    
        }
    }
}

.content {
    margin: 5rem;
    h1 {
        font-size: 4rem;
        font-weight: 300;
    }
    h2 {
        font-size: 2.5rem;
        font-weight: 300;
    }
    .major,
    p {
        font-size: 1.5rem;
    }
    p {
        a {
            color: #7ab436;
            &:hover {
                color: #93cb52;
            }
        }   
    }
    
}

.spotlight {
    display: flex;
    background: $background-color;
    color: $text-light;
    .image {
        flex-grow: 1;
        img {
            height: 45vh;
            // min-width: 100%;
            max-width: 35vw;
            object-fit: cover;
            vertical-align: bottom;
    
        }
    }

}
.orient-right {
    flex-direction: row-reverse;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    section {
        max-width: 300px;
        border-bottom: #ddd 1px solid;
        margin-bottom: 2rem;
    }
    h3 {
        font-size: 1.5rem;
        font-weight: 400;
        text-align: center;
    }
    p {
        font-size: 1rem;
        line-height: 2rem;
        margin: 1.6rem;
        text-align: center;
    }
}

#touch {
    .medium {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            font-size: 2rem;
            font-weight: 300;
            margin-bottom: 1rem;
        }
        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            // flex-direction: column;
            // max-width: 300px;
            margin: auto;
            width: 50vw;
            // padding: 1rem 1rem;
            div {
                width: 100%;
                margin-bottom: 0.5rem;
            }
            div:nth-child(3) {
                width: 100%;
                margin-bottom: 0.5rem;        
            }
            .field {
                width: 48%;
                // padding: 2rem;
                label {
                    display: block;
                    text-align: center;
                    margin-bottom: 0.75rem;
                    margin-top: 0.75rem;
                }
                input {
                    // display: block;
                    width: 100%;
                    padding: 0.5rem;
                }
                textarea {
                    width: 100%;
                }
            }
            .actions {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            

        }
    }
} 


.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
    text-align: center;
}

    .icon:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        text-transform: none !important;
        font-family: 'Font Awesome 5 Free';
        font-weight: 400;
    }

    .icon > .label {
        display: none;
    }

    .icon:before {
        line-height: inherit;
    }

    .icon.solid:before {
        font-weight: 900;
    }

    .icon.brands:before {
        font-family: 'Font Awesome 5 Brands';
    }

    .icon.style2:before {
        border-radius: 2.75em;
        display: inline-block;
        height: 2.75em;
        line-height: 2.75em;
        width: 2.75em;
    }

    .icon.major {
        display: block;
        margin: 0 0 1rem 0;
    }

        .icon.major:before {
            font-size: 1.25rem;
        }

a.icon.style2:before {
    -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

.icon.style2:before {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

a.icon.style2:hover:before {
    box-shadow: inset 0 0 0 1px #47D3E5;
    color: #47D3E5;
}

a.icon.style2:active:before {
    background-color: rgba(71, 211, 229, 0.1);
    box-shadow: inset 0 0 0 1px #47D3E5;
    color: #47D3E5;
}





//   navbar styling
#navbar {
    display: flex;
    position: sticky;
    top: 0;
    background: $background-color;
    justify-content: space-between;
    padding: 1rem;
    color: $text-light;
    z-index: 1;

    ul {
        display: flex;
        align-items: center;
        list-style: none;

        a {
            color: $text-light;
            padding: 0.75rem;
            margin: 0 0.25rem;

            &:hover {
                background: $text-primary;
                border-radius: 5px;
            }
        }

    }
}

// showcase section

#showcase {
    background: #000 url('../img/showcase.jpg') no-repeat center center/cover;
    height: 100vh;

    .showcase-content {
        color: $text-light;
        position: relative;
        top: 0;
        left: 0;
        background: rgba($color: #000000, $alpha: 0.3);
        height: 100%;

        .extra-div {
            display: flex;
            height: 100%;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding: 0 2rem;
        }

    }
}

//  what we do
#what {
    .items {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        .item {
            flex: 1;
            padding: 1rem;

            i {
                background: $text-primary;
                padding: 1rem;
                border-radius: 50%;
                margin-bottom: 1rem;
            }
        }
    }
}

#who {
    display: flex;

    .who-img {
        flex: 1;
        background: url('../img/people.jpg') no-repeat center center/cover;
    }

    .who-text {
        flex: 1;
    }
}

#clients {
    .items {
        display: flex;

        img {
            display: block;
            width: 60%;
            margin: auto;
        }
    } 
}

#contact {
    display: flex;
    justify-content: space-between;
    .contact-form {
        flex: 1;

        .form-group {
            // margin: 0.75rem;
        }

        form {
            display: flex;
            flex-direction: column;
        }
        label {
            display: block;
        }
        textarea, input {
            width: 100%;
            padding: 0.5rem;
            // height: 150px;
        }
        .btn {
            // align-self: stretch;
            // padding: 0.5rem;
            width: 100%;
            margin: 1rem 0;
            // position: relative;

        }
    }

    .map {
        flex: 2;
    }
}